.FooterBackground{
    display: grid;
    background-color:rgb(186, 231, 209);
    align-items: center;
    justify-content: center;
}





.Footer{
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 30px;
    width: 887px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

a{
    text-decoration: none;
    color: black;
}
img{
    height: 60px;
}
.col0{
    align-self: center;
}
h1, ul {
  margin: 0;
  padding: 0;
}
h1 {
    font-size: 24px;
}
ul {
  list-style: none;
  margin-top: 20px;
}

@media (max-width: 887px){
    .Footer{
        display: grid;
        grid-template-columns: auto;
        justify-content:center;
        margin-top: 20px;
    }
    .col0 , .col1, .col2, .col3{
        margin-top: 5px;
        margin-bottom: 10px;
    }
}