.nav{
    width:887px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.img{
    width: 202px;
    height: 76px;
}

.nav > ul{
    margin-left: 47px;
    margin-right: 49px;
    display: grid;
    grid-template-columns: repeat(7,auto);
    width: 640px;
    height: 24px;
    list-style-type: none;
    column-gap: 28px;
}

li{
    list-style-type: none;
}